/* .......................................... */

.modal {
    font-size: 12px;
    background-color: rgb(248, 248, 248);
    height: 80vh;
    width: 60vw;
    border: 0.1px solid rgb(192, 192, 192);
    border-radius: 20px;
}

.modalNoti {
    font-size: 12px;
    background-color: rgb(248, 248, 248);
    height: 20vh;
    width: 25vw;
    border: 0.1px solid rgb(192, 192, 192);
    border-radius: 20px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modalNoti>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    /* text-align: center; */
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.modalNoti>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

/* Button */
.btnStyle {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.btnStyle:hover {
    background: transparent;
    color: #000;
}

.btnStyle:before,
.btnStyle:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}

.btnStyle:before {
    top: 0;
}

.btnStyle:after {
    bottom: 0;
}

.btnStyle:hover:before,
.btnStyle:hover:after {
    height: 0;
    background-color: #000;
}

button {
    outline: none;
}

.customBtn {
    width: 130px;
    height: 40px;
    border: 1.5px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.customBtnConfirm {
    margin-left: 79%;
    font-size: 20px;
    width: 130px;
    height: 40px;
    border: 1.5px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.filter:hover {
    color: #FF3333;
}

.btnPurchase {
    height: 3em;
    width: 12em;
    background-color: #df494a;
    color: #fff;
    border-radius: 5px;
}

.btnPurchase:hover {
    background-color: #b80707;
}

.btnChangeDelivery {
    margin-top: 1.5em;
    height: 2.6em;
    width: 18em;
    background-color: #df494a;
    color: #fff;
    border-radius: 5px;
}

.btnChangeDelivery:hover {
    background-color: #b80707;
}

.btnUpdateStatus {
    margin-top: 1.5em;
    height: 3.5em;
    width: 15em;
    background-color: #df494a;
    color: #fff;
    border-radius: 5px;
}

.btnUpdateStatus:hover {
    background-color: #b80707;
}

.divClick:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.h5tag {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 5px
}

.selectDiv {
    margin: 15px;
    font-size: 15px;
}