.table {
    margin: 2rem auto 9rem auto;
    width: 97%;
    border: 0.1em solid #000000;
    border-collapse: collapse;

    th,
    td {
        border: 0.05px solid #000000;
        padding: 10px;
    }

    thead>tr {
        background-color: #95ff94;
    }

    text-align: center;

}

.title {
    font-size: 30px;
    margin-top: 5rem;
    padding-left: 1.5%;
    font-weight: bold;
    color: #505050;
}

.icon {
    margin-left: 12px;
    margin-right: 12px;
    color: #000000;
}

.icon:hover {
    color: #c1022b;
}

// .table1 {
//     margin: 2rem auto 9rem auto;
//     width: 97%;

//     thead>tr {
//         background-color: #95ff94;
//     }

//     text-align: center;

// }