._3uApM {
    display: none !important;
}

._53Ji7 {
    padding: 2rem 2rem 0 2rem !important;
}

.labelClass {
    font-size: 18px;
}

._2Jtxm._35Ago ._2kL0S {
    background-color: #4db193;
    color: white;
    animation: _JAh3L 400ms ease forwards;
}